/* reset */
.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'; }

h1 {
  text-align: center; }

h2 {
  padding: 0.5rem 0px 0px 1rem; }

h3 {
  padding: 0.7rem 1rem 0.3rem 1rem; }

.texto__centrado {
  text-align: center; }

.background__color {
  background-color: #dfdee0; }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* destinos body */
.caja__destinos {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0.5rem; }
  .caja__destinos .contenedor__destinos {
    justify-content: center; }
    .caja__destinos .contenedor__destinos .boton {
      padding-left: 0.5rem; }
    .caja__destinos .contenedor__destinos .texto__destinos {
      text-align: justify;
      padding: 0.5rem; }

@media (max-width: 600px) {
  .caja__destinos {
    grid-template-columns: 100%; } }

@media (min-width: 900px) {
  .caja__destinos {
    grid-template-columns: repeat(3, 1fr); } }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* footer */
#pie_de_pagina {
  background-color: #B094A8;
  text-align: center;
  padding: 2%; }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* header */
header {
  background-color: #B094A8;
  padding-top: 0.5rem; }
  header .nav-link {
    border-radius: 10px; }
  header .nav-link:hover {
    background-color: #7c4964; }
  header h1:hover {
    background-color: #7c4964;
    border-radius: 10px; }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* index body */
main .imagenFondo {
  background-image: url(../imagenes_iconos/fondo1.jpeg);
  background-size: cover;
  height: 70vh; }
  main .imagenFondo .bienvenidos {
    background-color: #dfdee07c;
    position: relative;
    top: 15%;
    left: 10%;
    width: 45%;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 5px; }
  main .imagenFondo .intro {
    background-color: #dfdee07c;
    position: relative;
    top: 15%;
    left: 10%;
    width: 45%;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px; }
  @media (max-width: 730px) {
    main .imagenFondo .bienvenidos {
      left: 25%;
      width: 50%; }
    main .imagenFondo .intro {
      left: 25%;
      width: 50%;
      font-size: 1.1rem; } }
  @media (min-width: 818px) and (max-width: 1332px) {
    main .imagenFondo .bienvenidos {
      top: 20%; }
    main .imagenFondo .intro {
      top: 20%; } }
  @media (min-width: 1333px) {
    main .imagenFondo .bienvenidos {
      top: 35%; }
    main .imagenFondo .intro {
      top: 35%; } }

main .caja__ultimos_destinos {
  display: grid;
  grid-template-rows: 0.1fr 3fr;
  gap: 0;
  padding: 0;
  margin: 0;
  background-color: #dfdee0;
  justify-items: center; }
  main .caja__ultimos_destinos .galeria__index {
    display: flex;
    gap: 0;
    margin: 0px 2rem;
    padding: 0;
    justify-items: center; }
    main .caja__ultimos_destinos .galeria__index .destino {
      font-size: 1.2rem;
      text-align: center;
      padding-bottom: 0.5rem; }
    main .caja__ultimos_destinos .galeria__index .galeria__index :hover {
      background-color: #7c4964;
      border-radius: 15px; }
  @media (max-width: 750px) {
    main .caja__ultimos_destinos .galeria__index {
      flex-direction: column; } }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* recursos body */
main .texto__recursos {
  margin: 1rem;
  text-align: justify; }

main .caja__recursos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0; }
  main .caja__recursos .carta {
    padding: 0.5rem; }
  main .caja__recursos #boton {
    background-color: #7c4964;
    border: none;
    width: 70%;
    margin: 0px 15%; }

@media (max-width: 750px) {
  main .caja__recursos {
    grid-template-columns: repeat(3, 1fr); } }

.caja__destinos .contenedor__destinos .imagen__galeria, main .caja__ultimos_destinos .galeria__index .imagen__galeria, main .caja__sobre_mi .imagen__galeria {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px; }

/* sobre mi body */
main .caja__sobre_mi {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 0.5rem;
  padding: 2rem;
  margin: 0;
  align-items: center; }
  main .caja__sobre_mi .texto__sobre_mi {
    text-align: justify;
    font-size: 1.4rem; }

@media (max-width: 700px) {
  main .caja__sobre_mi {
    grid-template-columns: 100%; } }

main .item1 {
  text-align: center; }

main .caja__au_pair {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;
  margin: 3%;
  background-color: #B094A8;
  border-radius: 10px; }
  main .caja__au_pair .items__au_pair {
    padding: 3%;
    align-self: center; }
  main .caja__au_pair .texto__au_pair {
    text-align: center;
    font-size: 1.2rem; }
  main .caja__au_pair .imagen__au_pair {
    width: 100%;
    border-radius: 15px;
    padding: 3%; }
  @media (max-width: 700px) {
    main .caja__au_pair .imagen__au_pair {
      width: 49.5%;
      border-radius: 20px; } }

@media (max-width: 700px) {
  main .caja__au_pair {
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-columns: 100%; } }
