* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

h1 {
    text-align: center;
}

h2 {
    padding: 0.5rem 0px 0px 0.5rem;
}

h3 {
    padding: 0.5rem 0px 0px 0.5rem;
}

.texto__centrado {
    text-align: center;
}

.background__color {
    background-color: #dfdee0;
}

/* header */
.header {
    background-color: #B094A8;
    padding: 0.5rem 0.5rem 0px 0.3rem;
}

.nav-link {
    border-radius: 10px;
    padding: 3%;
}

.nav-link:hover {
    background-color: #7c4964;
}

h1:hover {
    background-color: #7c4964;
    border-radius: 10px;
}

/* header */

/* footer */

#pie_de_pagina {
    background-color: #B094A8;
    text-align: center;
    padding: 2%;
}

/* footer */

/* index body */

.imagenFondo {
    background-image: url(../imagenes_iconos/fondo1.jpeg);
    background-size: cover;
    height: 70vh;
}

.bienvenidos {
    background-color: #dfdee07c;
    position: relative;
    top: 15%;
    left: 10%;
    width: 45%;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 5px;
}

.intro {
    background-color: #dfdee07c;
    position: relative;
    top: 15%;
    left: 10%;
    width: 45%;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 730px) {
    .bienvenidos {
        left: 25%;
        width: 50%;
    }

    .intro {
        left: 25%;
        width: 50%;
    }
}

@media (min-width: 818px) and (max-width: 1332px) {
    .bienvenidos {
        top: 20%;
    }

    .intro {
        top: 20%;
    }
}

@media (min-width: 1333px) {
    .bienvenidos {
        top: 35%
    }

    .intro {
        top: 35%;
    }
}

.caja__ultimos_destinos {
    display: grid;
    grid-template-rows: 0.1fr 3fr;
    background-color: #dfdee0;
}

.galeria__index {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.imagen__galeria {
    width: 100%;
    padding: 3%;
    border-radius: 15px;
}

.destino {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 5%;
}

.galeria__index :hover {
    background-color: #7c4964;
    border-radius: 15px;
}

@media (max-width: 750px){
    .galeria__index {
        flex-direction: column;
    }
    .destino {
        padding: 2%;
    }
}

/* index body */

/* destinos body */

.caja__destinos {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0.5rem;
}

.contenedor__destinos {
    justify-content: center;
}

.texto__destinos {
    text-align: justify;
    padding: 0.5rem;
}

@media (max-width: 600px) {
    .caja__destinos {
        grid-template-columns: 100%;
    }
}

@media (min-width: 900px) {
    .caja__destinos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* destinos body */

/* sobre mi body */

.caja__sobre_mi {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
}

.texto__sobre_mi {
    text-align: justify;
    padding: 2rem;
    font-size: 1.4rem;
}

.caja__au_pair {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #B094A8;
    margin: 3%;
    border-radius: 10px;
}

.item1 {
    text-align: center;
}

.items__au_pair {
    padding: 3%;
    align-self: center;
}

.texto__au_pair {
    text-align: center;
    font-size: 1.2rem;
}

.imagen__au_pair {
    width: 100%;
    border-radius: 15px;
    padding: 0px 3%;
}

@media (max-width: 700px) {
    .caja__sobre_mi {
        grid-template-columns: 100%;
    }

    .caja__au_pair {
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-template-columns: 100%;
    }

    .imagen__au_pair {
        width: 49.5%;
    }
}

/* sobre mi body */

/* contacto body */

.caja__contacto {
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #B094A8;
}

#enviar {
    background-color: #7c4964;
    border: none;
    width: 15%;
    margin: 1rem 0px 0.5rem;
}

.caja__logos {
    display: flex;
    margin: 1rem 30%;
    background-color: #B094A8;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    gap: 5%;
}

.logo {
    width: 100%;
    padding: 5%;
}

@media (min-width: 900px) and (max-width: 1199px) {
    .caja__logos {
        margin: 1rem 35%;
    }
}

@media (min-width: 1200px) {
    .caja__logos {
        margin: 1rem 40%;
    }
}

/* contacto body */