@import "../base/extends";

/* destinos body */

.caja__destinos {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0.5rem;

    .contenedor__destinos {
        justify-content: center;

        .imagen__galeria {
            @extend %imagen-galeria;
        }

        .boton {
            padding-left: 0.5rem;
        }

        .texto__destinos {
            text-align: justify;
            padding: 0.5rem;
        }
    }
}

@media (max-width: 600px) {
    .caja__destinos {
        grid-template-columns: 100%;
    }
}

@media (min-width: 900px) {
    .caja__destinos {
        grid-template-columns: repeat(3, 1fr);
    }
}