@mixin textos($font-size) {
    background-color: nth($colores, 4);
    position: relative;
    top: 15%;
    left: 10%;
    width: 45%;
    font-size: $font-size;
    text-align: center;
    border-radius: 5px;
}

@mixin textos-media {
    left: 25%;
    width: 50%;
}

@mixin grid ($tama単o-filas, $gap, $padding) {
    display: grid;
    grid-template-rows: $tama単o-filas;
    gap: $gap;
    padding: $padding;
}

@mixin grid-columna ($tama単o-filas, $gap, $padding) {
    display: grid;
    grid-template-columns: $tama単o-filas;
    gap: $gap;
    padding: $padding;
}

@mixin flex ($gap, $margin, $padding) {
    display: flex;
    gap: $gap;
    margin: $margin;
    padding: $padding;
    justify-items: center;
}